@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
	font-family: 'fontawesome', sans-serif;
	font-size: 120%;
}

ul {
	padding: 0;
	margin: 0;
}

.menu, .submenu, .item {
	content: '';
	position: absolute;
	border-radius: 50%;
	/*left: calc(50%-10em);
	top: calc(50%-10em);*/
	/*bottom: -10%;
	right: 2%;*/
	top: -8px;
	left: 0;
	width: 20em;
	height: 20em;
}

.radialnav {
	position: fixed;
	width: 20em;
	height: 20em;
	bottom: -10%;
	right: 2%;
	display: block;
	font: 500 14px/14px arial normal;
	transform: rotate(-90deg);
}

.radialnav a {
	color: white;
	text-decoration: none;
}

.radialnav .ellipsis {
	position: absolute;
	right: 39%;
	bottom: 45%;
	z-index: 12;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #1976d2;
	color: white;
	text-align: center;
	transform: rotate(90deg);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.44);
	-webkit-transition: all 0.3s ease-in-out;
}

.radialnav .ellipsis span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -5px 0 0 -7px
}

.radialnav .ellipsis:active, .radialnav .ellipsis:hover {
	box-shadow: 0 4px 7px 0 rgba(0,0,0,0.44);
	background: #2083e4;
}

.radialnav.active .ellipsis {
	box-shadow: 0 4px 7px 0 rgba(0,0,0,0.44);
	background: #2083e4;
}

.radialnav.active .menu {
	pointer-events: auto;
	-webkit-transform: scale(1);
}

.menu, .submenu {
	position: relative;
	-webkit-transform: scale(0.1);
	pointer-events: none;
	-webkit-transition: all 0.15s ease;
}

.item, .item:nth-child(n+7):after {
	clip: rect(0, 20em, 20em, 10em);
}

.item a, .item:nth-child(n+7):after a {
	display: block;
	color: white;
	content: '';
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 10em);
	top: calc(50% - 10em);
	width: 20em;
	height: 20em;
	clip: rect(0, 10em, 20em, 0);
}

.item a span, .item:nth-child(n+7):after a span {
	position: absolute;
	top: 6%;
	right: 57%;
	font-size: 21px;
}

.item:after, .item:nth-child(n+7) {
	content: '';
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 10em);
	top: calc(50% - 10em);
	width: 20em;
	height: 20em;
	clip: rect(0, 10em, 20em, 0);
}

.submenu {
	z-index: 13;
}

.submenu .item a span{
  font-size: 27px;
}

.submenu.active {
	pointer-events: none;
	-webkit-transform: scale(0.7);
}

.item:nth-child(1):after {
  background-color: #1976D2;
  transform: rotate(30deg);
  z-index: 6;
}

.item:nth-child(1) > a {
  transform: rotate(30deg);
  z-index: 7;
}

.submenu .item:nth-child(1):after {
  background-color: #388E3C;
}

.item:nth-child(2):after {
  background-color: #03A9F4;
  transform: rotate(60deg);
  z-index: 5;
}

.item:nth-child(2) > a {
  transform: rotate(60deg);
  z-index: 6;
}

.submenu .item:nth-child(2):after {
  background-color: #8BC34A;
}

.item:nth-child(3):after {
  background-color: #1976D2;
  transform: rotate(90deg);
  z-index: 4;
}

.item:nth-child(3) > a {
  transform: rotate(90deg);
  z-index: 5;
}

.submenu .item:nth-child(3):after {
  background-color: #388E3C;
}

.item:nth-child(4):after {
  background-color: #03A9F4;
  transform: rotate(120deg);
  z-index: 3;
}

.item:nth-child(4) > a {
  transform: rotate(120deg);
  z-index: 4;
}

.submenu .item:nth-child(4):after {
  background-color: #8BC34A;
}

.item:nth-child(5):after {
  background-color: #1976D2;
  transform: rotate(150deg);
  z-index: 2;
}

.item:nth-child(5) > a {
  transform: rotate(150deg);
  z-index: 3;
}

.submenu .item:nth-child(5):after {
  background-color: #388E3C;
}

.item:nth-child(6):after {
  background-color: #03A9F4;
  transform: rotate(180deg);
  z-index: 1;
}

.item:nth-child(6) > a {
  transform: rotate(180deg);
  z-index: 2;
}

.submenu .item:nth-child(6):after {
  background-color: #8BC34A;
}
















