doctype html
html
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/style.css")
	body
		h1= title
		p Upload a photo to your account below.
		form(method="post")
			p
				input(type="text" name="qwe" placeholder="Name")
			p
				input(type="file" name="asd")
			p
				input(type="submit" value="Upload")