extends layout

block content
	include menu
	h1= title
	p Fill in the form below to add a new post
	include message
	form(action="/post" method="post")
		p
			input(type="text" name="title" placeholder="Title")
		p
			textarea(name="body" placeholder="Body")
		p
			input(type="submit" value="Post")