extends layout

block content
	include menu
	h1= title
	p Fill in the form below to sign up
	include message
	form(action="/register" method="post")
		p
			input(type="text" name="username" placeholder="Username")
		p
			input(type="password" name="password" placeholder="Password")
		p
			input(type="submit" value="sign Up")