#Appfooter {
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  .avatars {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px 30px 10px 0;
    display: inline-block;
    float: left;
  }
  .container {
    width: 90%;
  }
  .intro {
    margin-top: 17px;
    font-size: 110%;
    overflow: hidden;
  }
  .contact-links {
    margin: 10px;
  }
}
