#Appmain {
  margin: 0;
  height: calc(100vh - 284px);
  overflow: auto;
  .col.s2, .col.s10 {
    min-height: 342px;
    height: 91%;
  }
  .col.s10 .card {
    margin-top: 20px;
    height: 100%;
    .card-content {
      height: 100%;
      .svg-container {
        height: 100%;
        position: relative;
        .canvas {
          width: 100%;
          height: calc(100% - 40px);
          .highlight {
            rect {
              fill: #ffcc80;
            }
          }
          .sorted {
            rect {
              fill: #ffa726;
            }
          }
          .highlight.selected {
            rect {
              fill: #ef5350;
            }
          }
        }
      }
    }
  }
}
