doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Welcome!
		link(rel="stylesheet" href="build/stylesheets/index.css")
	body
		h1#title TODO with React.js and Node.js
		#buttons
			#signup.button SIGN UP
			#signin.button SIGN IN