*{
	margin: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body{
	background: #f2f2f2;
}
#canvas{
	/*width 300px height 150px*/
	display: block;
	margin: 20px auto 0;
}
