doctype html

html
  head
    meta(charset="utf-8")
    title  摇号程序
    link(rel="stylesheet" href="fullpage.js/jquery.fullpage.css")
    link(rel="stylesheet" href="stylesheet/index.css")
    script(src="jquery/dist/jquery.min.js")
    script(src="fullpage.js/jquery.fullpage.min.js")
    script(src="javascripts/index.js")
  body
    #fullpage
      .section
        .slide(data-anchor="slide1")
          h1 摇号过程与规则
          .layer
            ul
              li  首先随机请6名家长上来随机说出6个101~999之间的一个数字
              li  然后让前两个数相乘的结果取倒数234位再与后一个数相乘,执行5次后,得到一个三位数A
              li  点击生成按钮,取得系统时间的毫秒数后三位,与数A相乘,结果取前三位,得到一个种子数
              li  以种子数为基准 得到270个在1~800之间的随机数 
        .slide(data-anchor="slide2")
          h1 请输入6个101~999之间的数
            form.numberForm(action="/generate" method="POST")
              input.inputNum(name="number1")
              input.inputNum(name="number2")
              input.inputNum(name="number3")
              input.inputNum(name="number4")
              input.inputNum(name="number5")
              input.inputNum(name="number6")
              input.submitBtn(type="submit" value="生成")
        .slide(data-anchor="slide3")
          if !seed
            h1 种子数未生成,请按规则操作
          else
            h1 种子数为
            .seed= seed
            form(action="/getResult" method="POST")
              input.submitBtn(type="submit" value="产生结果")
        .slide(data-anchor="slide4")
          if !result
            h1 结果未产生,请按规则操作
          else
            .resultBox
              span#numIndex 0
              script addAllNumber(#{result});
