doctype html
html
  head
    title My app
    link(rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css")
  body
    .container
      h1= title 
      ul
        each item in items
          li= item.desc

      form(action="/add" method="POST")
        input(name="newItem")
        input(type="submit" value="submit")

  script(src="jquery/dist/jquery.min.js")
  script(src="bootstrap/dist/js/bootstrap.min.js")
